@import 'tailwindcss/tailwind.css';

@tailwind base;  /*  for removing default styles */
@tailwind components; /*  for custom components and creating reusable styles */
@tailwind utilities; /*  for utility classes */

* {
    @apply font-inter;
}


html{
    scroll-behavior: smooth;
}

main{
  @apply bg-white dark:bg-black;
}

@layer components {
  .nav{
    @apply invisible md:visible opacity-0 md:opacity-100 flex space-x-8 font-medium transition ease-in-out duration-500 -translate-y-20 md:translate-y-0 w-0 h-0 md:w-auto md:h-auto;
  }

  .nav.open{
    @apply opacity-100 flex flex-col absolute z-10 -left-4 top-0 py-16 space-x-0 space-y-2 p-5  bg-white dark:bg-black w-full h-auto shadow-xl translate-y-0 visible;
  }

  .nav > *{
    @apply   hover:text-primary dark:text-white dark:hover:text-primary-dark;
  }

  .nav.open > *{
    @apply w-full text-center flex text-black dark:text-white;
  }
  
  .nav.open > * > a {
    @apply w-full p-2 rounded transition ;
  }

  .nav .active {
    @apply text-primary dark:text-primary-dark;
  }

  .nav.open > * > a.active {
    @apply bg-primary-light dark:bg-primary-dark text-white dark:text-gray-800;
  }

  .sectionHeaders{
    @apply text-4xl font-semibold text-primary dark:text-primary-dark text-center md:text-left;
  }


  .themeBtn{
    @apply mr-2 cursor-pointer w-6 h-6;
  }

  .skillsTabHead > button{
    @apply   py-2 px-4 w-full transition-colors duration-200 focus:outline-none;
  }

 

  .tabSubContent{
    /* @apply marquee; */
  }  

  .tabSubContent > div{
    @apply flex flex-wrap justify-around gap-4 p-5 cursor-pointer;
  }
  
  .tabContent {
    @apply displayTabContent ;
  }

  .tabContent h3{
    @apply text-lg font-medium;
  }

  /* for Projects Component */
  .projectBtn {
    @apply space-x-4 text-lg;
  }

  /* for AllProjects Component */
  .projectLinks{
    @apply space-x-0 space-y-4 md:space-y-0 md:space-x-4 text-lg flex flex-col md:flex-row text-center ;
  }

  .projectBtn > button, .projectLinks > a{
    @apply rounded p-2 border  transition ease-in-out focus:outline-none border-gray-600 hover:text-white dark:hover:text-gray-800 hover:bg-primary hover:border-primary dark:hover:bg-primary-dark dark:hover:border-primary-dark;
  }

  .projectBtn > button.current, .projectLinks > a.current{
    @apply text-white dark:text-gray-800 bg-primary border-primary dark:bg-primary-dark dark:border-primary-dark;
  }

  /* for projectCard Component */
  .projectCard{
    @apply h-auto  rounded-xl space-y-2 flex flex-col  bg-white/10 backdrop-blur-md  shadow-lg overflow-hidden md:relative ;
  }


  .projectCard > .cardContent {
    @apply flex flex-col space-y-5 p-5 md:absolute top-0 md:h-full md:text-white dark:md:text-gray-800  md:hidden transition ease-in-out duration-500;
  }

  .projectCard:hover img {
    @apply scale-110;
  } 

  .projectCard:hover > .cardContent {
    @apply md:flex;
  }

}


@layer utilities{

  .marquee {
    animation: scroll-marquee 40s linear infinite;
  }

  @keyframes scroll-marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .displayTabContent {
    animation: displayTabContent .7s ease-in-out;
  }

  @keyframes displayTabContent {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }

}