@import 'tailwindcss/tailwind.css';

@tailwind base;  /*  for removing default styles */
@tailwind components; /*  for custom components and creating reusable styles */
@tailwind utilities; /*  for utility classes */

* {
    @apply font-inter;
}


html{
    scroll-behavior: smooth;
}


@layer components {
  .nav > *{
    @apply  text-black hover:text-primary dark:text-white dark:hover:text-primary-dark;
  }

  .sectionHeaders{
    @apply text-4xl font-semibold text-primary text-center md:text-left;
  }


  .nav .active {
    @apply text-primary dark:text-primary-dark;
  }

  .themeBtn{
    @apply mr-2 cursor-pointer w-6 h-6 dark:text-white;
  }

  .skillsTabHead > button{
    @apply   py-2 px-4 w-full transition-colors duration-200 focus:outline-none;
  }

 

  .tabSubContent{
    /* @apply marquee; */
  }  

  .tabSubContent > div{
    @apply flex flex-wrap justify-around gap-4 p-5 cursor-pointer;
  }
  
  .tabContent {
    @apply displayTabContent ;
  }

  .tabContent h3{
    @apply text-lg font-medium;
  }

  .projectCard{
    @apply h-auto  rounded-xl space-y-2 flex flex-col  bg-white/10 backdrop-blur-md border border-white/30  shadow-lg overflow-hidden md:relative ;
  }


  .projectCard > .cardContent {
    @apply flex flex-col space-y-5 p-5 md:absolute top-0 md:h-full md:text-white  md:hidden transition ease-in-out duration-500;
  }

  .projectCard:hover img {
    @apply scale-110;
  } 

  .projectCard:hover > .cardContent {
    @apply md:flex;
  }

}


@layer utilities{

  .marquee {
    animation: scroll-marquee 40s linear infinite;
  }

  @keyframes scroll-marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .displayTabContent {
    animation: displayTabContent .7s ease-in-out;
  }

  @keyframes displayTabContent {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }

}